.categories__inner {
  display: flex;
  flex-wrap: wrap;

  @include respond-max(1024){
    padding-top: 50px;
  }
  @include respond-max(572){
    padding-top: 30px;
  }
}

.category-item {
  width: 27%;
  max-width: 27%;
  padding: 0 20px;
  position: relative;
  top: -115px;
  z-index: 1;
  //border: 1px solid;
  &--lg {
    width: 46%;
    max-width: 46%;
  }

  @include respond-max(1024) {
    width: 100%;
    max-width: 100%;
    margin-bottom: 50px;
    top: 0;
    &--lg {
      width: 100%;
      max-width: 100%;
    }
  }
}

.category-body{

}

.category-body__heading{
  min-height: 75px;
  margin-bottom: 27px;
  background: url("#{$imgUrl}categories/category-bg.png")no-repeat center /cover;
  position: relative;
  padding-bottom: 10px;
  //border: 1px solid;

  &:before {
    content: '';
    display: block;
    width: calc(100% + 15px);
    height: 1px;
    position: absolute;
    top: 100%;
    left: -10px;
    margin-top: -5px;
  }
  &:after{
    content: '';
    display: block;
    position: absolute;
    top: 100%;
    margin-top: -9px;
    right: -10px;
    @include square(8px);
    border-radius: 50%;
  }

  &--red{
    background: none;
  }
  &--purple{
    color: #e223cc;

    &:before, &:after{
      background-color: #a0068e;
    }
    
    .category-body__heading-num{
      color: #a0068e;
    }
  }
  &--green{
    color: #08a083;

    &:before, &:after{
      background-color: #0860a0;
    }

    .category-body__heading-num{
      color: #0860a0;
    }
  }
}

.category-body__heading-inner{
  display: flex;
  align-items: center;
}

.category-body__heading-block{

  h2{
    margin-bottom: 4px;
  }
}

.category-body__heading-num{
  margin-left: auto;
  font-size: 5rem; //70px
  font-weight: 700;
  font-style: italic;
  letter-spacing: -4.2px;
  font-family: $Helvetica;
  line-height: 1;
  align-self: flex-end;

  @include respond-max(1280){
    font-size: 4rem;
  }
  @include respond-max(1024){
    font-size: 3.5rem;
  }
  @include respond-max(572){
    font-size: 3rem;
  }
}