.category-heading {
  width: 230px;
  position: relative;
  text-align: center;
  z-index: 2;
  @include center;
  margin-bottom: 54px;

  &--orange {
    //left: -50px;
    @include center;
  }
  &--purple {
    //left: -90px;
  }
  &--green {
    //left: -43px;
  }

  @include respond-max(1024) {
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 141px;
    //margin-bottom: 30px;
    margin-bottom: 0;

    &--orange {
      left: auto;
      @include center;
    }
    &--purple {
      left: auto;
      @include center;
    }
    &--green {
      left: auto;
      @include center;
    }
  }
}

.category-heading__border {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;

  @include respond-max(1024) {
    width: 150px;
    left: 50%;
    transform: translateX(-50%);
    @include when-inside('.category-heading--orange') {
      margin-left: -80px;
    }
    @include when-inside('.category-heading--purple') {
      margin-left: -80px;
    }
    @include when-inside('.category-heading--green') {
      margin-left: -76px;
    }
  }
}

.category__path {
  &-01 {
    stroke-dasharray: 1379; //method getTotalLength()
    stroke-dashoffset: 1379px;
  }
  &-02 {
    stroke-dasharray: 1391;
    stroke-dashoffset: 1391px;
  }
  &-03 {
    stroke-dasharray: 1255;
    stroke-dashoffset: 1255px;
  }

  &.is-animated {
    animation: svgAmimate 1.5s linear;
    animation-fill-mode: forwards;
  }

  @include ieStyles {
    &-01 {
      stroke-dasharray: 0;
      stroke-dashoffset: 0px;
    }
    &-02 {
      stroke-dasharray: 0;
      stroke-dashoffset: 0px;
    }
    &-03 {
      stroke-dasharray: 0;
      stroke-dashoffset: 0px;
    }
    &.is-animated {
      animation: none;
    }
  }
}

@keyframes svgAmimate {
  to {
    stroke-dashoffset: 0;
  }
}

.category__path-dot {
  opacity: 0;
  animation-fill-mode: forwards;
  &.is-visible {
    opacity: 1;
  }
}

.path-dot__end {
  &.is-animated {
    animation: addVisibility 0.3s 1.6s;
  }
  &.is-not-animated {
    animation: removeVisibility 0s;
  }
}

.category-heading__icon {
  @include center;
  padding-top: 50px;
  margin-bottom: 12px;
  img {
    width: 100%;
    filter: contrast(0);
    @include transition-04;

    @include when-inside('.category-item.is-animated') {
      filter: contrast(1);
    }
  }

  @include when-inside('.category-heading--orange') {
    max-width: 110px;
  }
  @include when-inside('.category-heading--purple') {
    max-width: 101px;
  }
  @include when-inside('.category-heading--green') {
    max-width: 118px;
  }

  @include respond-max(1024) {
    margin-left: 12px;
    margin-right: 0;
    padding-top: 30px;

    @include when-inside('.category-heading--orange') {
      max-width: 90px;
    }
    @include when-inside('.category-heading--purple') {
      max-width: 90px;
    }
    @include when-inside('.category-heading--green') {
      max-width: 90px;
      margin-left: 6px;
    }
  }
}

.category-heading__content {
  text-align: center;

  p {
    color: #7e7d7d;
  }

  h2 {
    margin-bottom: 5px;
    color: #808080;
    @include transition-04;
  }

  @include when-inside('.category-item.is-animated .category-heading--orange') {
    h2 {
      color: #eea218;
    }
  }
  @include when-inside('.category-item.is-animated .category-heading--purple') {
    h2 {
      color: #8e61a6;
    }
  }
  @include when-inside('.category-item.is-animated .category-heading--green') {
    h2 {
      color: #57843d;
    }
  }

  @include respond-max(1024) {
    margin-left: 60px;
  }
}

@keyframes addVisibility {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes removeVisibility {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}