.event-listing{
  padding-top: 170px;
  padding-bottom: 100px;

  @include respond-max(768){
    padding-top: 120px;
    padding-bottom: 50px;
  }
}

.event-listing__inner{
  background: url("#{$imgUrl}event-listing/bg.png")no-repeat center /auto 70%;
}