.event-submenu{
  padding-top: 18px;
  padding-bottom: 32px;
  display: flex;

  @include respond-max(768){
    margin-top: 32px;
  }
}

.event-submenu__item{
  &:nth-of-type(2){
    margin: 0 70px;
  }
  h6{
    color: $goldColor;
    font-weight: 600;
    line-height: 1.43rem; //20px
  }
  p{
    font-size: 1.14rem; //16px
    margin-bottom: 0;
  }

  @include respond-max(1280){
    &:nth-of-type(2){
      margin: 0 20px;
    }
    p{
      font-size: 1rem;
    }
  }

  @include respond-max(768){

  }
}