//MEDIA
.event-detail__row-media{
  margin-bottom: 31px;

}

.event-detail__media-main{
  background: url("#{$imgUrl}event-search/img-bg.png")no-repeat center /100% 100%;
  padding: 5px 10px;
  position: relative;
  top: -70px;
  margin-bottom: -70px;
  img{
    position: relative;
    max-width: 225px;
    left: 4px;
  }
  figcaption{
    position: absolute;
    right: 10px;
    top: 100%;
    margin-top: 10px;
    font-size: 0.79rem; //11px
    color: #77777e;
  }

  @include respond-max(1280){
    img{
      max-width: 190px;
    }
  }
  @include respond-max(768){
    top: -50px;
    margin-bottom: -50px;
    max-width: 170px;
    img{
      max-width: 150px;
    }
    figcaption{
      right: auto;
      left: 10px;
      min-width: 200px;
    }
  }
}

.event-detail__media-title{
  margin-bottom: 10px;
  h2{
    font-size: 1.86rem; //26px;
    font-weight: 600;
    text-transform: uppercase;
  }

  @include respond-max(1280){
    h2{
      font-size: 1.57rem; //22;
    }
  }
  @include respond-max(1024){
    h2{
      font-size: 1.23rem; //18;
    }
  }
}

.event-detail__content-media{
  display: flex;
  position: relative;
  padding-top: 19px;

  &:before, &:after{
    content: '';
    display: block;
    position: absolute;
    background-color: #d18500;
    z-index: -1;
  }

  &:before{
    width: 551px;
    height: 1px;
    left: -181px;
    top: 0;
  }
  &:after{
    @include square(6px);
    border-radius: 50%;
    left: 366px;
    top: -3px;
  }

  @include respond-max(768){
    &:before{
      width: 100%;
      left: 0;
    }
    &:after{
      left: 0;
    }
  }
}

.event-detail__media-item{
  max-width: 60px;
  margin-right: 34px;
  img{
    width: 100%;
    box-shadow: 2px 3px 2px rgba(0, 0, 0, 0.16);
  }
}