.event-detail__intro-block{
  .event-detail__intro{
    text-align: left;
    padding-top: 0;
    margin-top: 31px;
  }

  .event-submenu{
    padding-bottom: 18px;
  }

  .event-detail__title{
    padding-bottom: 0;
    &:before, &:after{
      display: none;
    }
  }

  @include respond-max(572){
    .event-submenu{
     flex-direction: column;
    }

    .event-submenu__item{
      margin-bottom: 10px;

      &:nth-of-type(2){
        margin: 0 0 10px;
      }
    }
  }
}