//general styles, header and footer

body.text-version {

  .header {
    background-color: #fff;
    border-color: $textColor;
  }

  .header__logo {
    .img-text {
      font-size: 1.14rem;
      color: $textColor;
    }
  }

  .header-nav__search-tags {
    &:before, &:after {
      display: none;
    }
  }

  .footer {
    background: #fff;
    border: 1px solid $textColor;
  }

  .footer-item, .footer-list__link, .footer-copyright {
    color: $textColor;
  }
}