.hero{
  display: flex;
  position: relative;

  @include respond-max(1024){
    padding-top: 96px;
  }
}

.hero-banner{
  position: relative;
  flex: 1 0 20%;
  height: calc(100vh - 125px);
  min-height: 600px;

  &:after{
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    @include square(100%);
    z-index: 1;
    background-color: rgba(#414040, 0.55);
    @include transition-04;
  }

  @include on-event{
    &:after{
      opacity: 0;
    }
    .hero-banner__caption{
      opacity: 1;
    }
  }

  img{
    @include imageCover;
    object-position: center;
  }

  @include respond-max(1024){
    height: 500px;
    min-height: 500px;
  }
  @include respond-max(572){
    height: 450px;
    min-height: 450px;
  }
}

.hero-banner__caption{
  display: block;
  opacity: 0;
  @include transition-04;
  color: #fff;
  text-align: center;
  font-weight: 200;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 200px;
  z-index: 2;

  h2{
    font-size: 3.22rem; //45px;
    font-weight: 200;
    line-height: 2.43rem; //34px;
    margin-bottom: 10px;
  }
  p{
    position: relative;
    font-size: 0.86rem; //12px;
    line-height: 1.72rem; //24px;
    font-weight: 400;
    &:before{
      content: '';
      display: inline-block;
      background: url("#{$imgUrl}general/icon-search-white.svg")no-repeat center /contain;
      @include size(11px, 10px);
      margin-right: 3px;
    }
  }

  @include respond-max(1280){
    h2{
      font-size: 2.5rem; //35px;
      line-height: 1.72rem; //24px;
    }
  }

  @include respond-max(1024){
    bottom: 157px;
    h2{
      font-size: 1.79rem; //25px;
    }
  }
  @include respond-max(768){
    h2{
      font-size: 1.14rem; //16px;
      line-height: 1.5rem;
      margin-bottom: 0;
    }
  }
  @include respond-max(572){
    h2{
      font-size: 0.93rem; //13px;
      line-height: 1.2rem;
    }
  }
}

.hero__heading{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  z-index: 1;
  font-family: $Helvetica;
  margin-top: 70px;
  h1{
    color: #fff;
    text-align: center;
  }

  @include respond-max(1024){
    margin-top: 40px;
  }

  @include respond-max(572){
    margin-top: 40px;
    h1{
      line-height: 1.5rem;
    }
  }
}