.people-detail__media-main {
  background: url('#{$imgUrl}general/img-bg.png') no-repeat center/100% 100%;
}

.people-detail__aside{
  padding-top: 99px;
  @include respond-max(1024){
    padding-top: 0;
  }
}

.people-detail__aside-content{
  min-width: 289px;

  p{
    position: relative;
    padding-left: 40px;
    max-width: 224px;
    &:before{
      content: '';
      display: block;
      position: absolute;
      top: -5px;
      left: 0;
      background: url("#{$imgUrl}general/icon-awards.svg")no-repeat center /contain;
      @include size(20px, 30px);
    }
  }
}