.people__search-block {
  border: 5px solid #aa75c6;
  background-color: #cc9ae6;
  &:before {
    border-bottom: 5px solid #aa75c6;
  }

  h2 {
    color: #8730b5;
  }

  .search-tags__title {
    color: #8730b5;
    border-color: #690000;
    &:before {
      background-color: #690000;
    }

    &:after {
      background-color: #690000;
    }
  }

  .search-tag__link {
    background-color: #a366c3;
    @include on-event {
      background-color: rgba(#a366c3, 0.63);
    }
  }
}

.people-search__results-list {
  .search-results__list-img {
    width: 144px;
    max-width: 144px;

    @include respond-max(572) {
      width: 100px;
      max-width: 100px;
    }
  }

  .search-results__list-item {
    padding-right: 96px;
    p {
      max-width: 586px;
    }
    @include respond-max(1024){
      padding-right: 15px;
    }
    @include respond-max(768){
      padding-right: 0px;
    }
  }
}