.search-result__list-row{
  display: flex;
  border-bottom: 1px solid #E19992;
  position: relative;
  &:after {
    content: '';
    display: block;
    border-radius: 50%;
    @include square(12px);
    background-color: #E19992;
    position: absolute;
    right: -6px;
    bottom: -6px;
  }
  .search-results__list-item{
    width: 50%;
    max-width: 50%;
    border-bottom: none;
    &:after{
      display: none;
    }
  }

  @include respond-max(768){
    flex-direction: column;

    .search-results__list-item{
      width: 100%;
      max-width: 100%;
      &:first-of-type{
        border-bottom: 1px solid #df4548;
        &:after{
          display: block;
        }
      }
    }
  }
}


.search-results__list-item {
  padding: 17px 164px 17px 0;
  border-bottom: 1px solid #E19992;
  position: relative;
  display: flex;
  align-items: flex-start;

  &:after {
    content: '';
    display: block;
    border-radius: 50%;
    @include square(12px);
    background-color: #E19992;
    position: absolute;
    right: -6px;
    bottom: -6px;
  }

  @include respond-max(1024){
    padding-right: 0;
  }
}

.search-results__list-img {
  margin-right: 30px;
  display: flex;
  flex: 1 0 auto;
  overflow: hidden;
  img {
    width: 100%;
    transition: 0.6s all ease;
  }

  @include respond-max(1024){
    margin-right: 15px;
  }
}

.search-results__list-content {
  padding-top: 17px;
  flex: 1;
  h3 {
    font-weight: 700;
    text-transform: uppercase;
    line-height: 2.14rem;
  }
  a{
    color: $textColor;
  }
  p {
    font-size: 1.14rem;
    line-height: 1.87rem;
  }

  @include respond-max(572){
    padding-top: 5px;
    p{
      font-size: 1rem;
    }
  }
}
