
//HEADER SEARCH RESULTS
.search-results__header{
  padding: 60px 232px 23px 0;
  position: relative;

  &.no-category{
    padding-right: 0;
  }

  @include respond-max(1024){
    display: flex;
    flex-direction: column;
    padding: 30px 0 0;
  }
}

.search-results__header-info{
  display: flex;
  font-size: 1.14rem;
  font-weight: 400;
  border-bottom: 5px solid #85585E;
  padding-bottom: 20px;

  @include respond-max(1024){
    order: 1;
  }
  @include respond-max(572){
    font-size: 1rem;
  }
}

.search-results__count{
  span{
    font-weight: 600;
  }
}

.search-results__export{
  margin-left: auto;
  color: $textColor;
  span{
    display: inline-block;
    @include square(20px);
    background: url('#{$imgUrl}general/icon-export.svg')no-repeat center /contain;
    margin-right: 8px;
    vertical-align: middle;
  }
}
