.modal-search {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(#333, 0.75);
  transition: all 0.7s ease-in-out 0s, opacity 1.5s cubic-bezier(0.5, 0, 0, 1) 0s, transform 1.5s cubic-bezier(0.5, 0, 0, 1) 0s;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  visibility: hidden;
  z-index: -1;

  &.is-active {
    z-index: 150;
    opacity: 1;
    visibility: visible;
  }
}

.modal__close {
  position: fixed;
  top: 20px;
  right: 20px;
  background-color: transparent;
  width: 20px;
  border: none;
  border-radius: 0 !important;
  @include transition-03;
  img {
    width: 100%;
  }

  @include on-event {
    transform: scale(0.8, 0.8) perspective(1px);
  }
}

.modal-search__inner {
  max-width: 85%;
}

.search__input-wrap {
  width: 500px;
  max-width: 100%;
  height: 40px;
  position: relative;

  input {
    width: 100%;
    height: 100%;
    display: inline-flex;
    align-items: center;
    padding-left: 13px;
    padding-top: 42px;
    border: none;
    border-radius: 0;
  }
}

.search__submit-btn {
  background-color: transparent;
  border: none;
  border-radius: 0 !important;
  @include transition-03;
  position: absolute;
  right: 13px;
  top: 0;
  bottom: 0;
  margin: auto;
  display: block;
  width: 17px;
  line-height: 1;
  img {
    width: 100%;
  }
}