.search-listing{
  padding-top: 170px;
  padding-bottom: 50px;

  @include respond-max(768){
    padding-top: 120px;
  }
}

.search-listing__inner{
  background: url("#{$imgUrl}event-listing/bg.png")no-repeat center /auto 70%;
}