.search-tags {
  margin-top: -10px;
  padding-left: 45px;

  @include respond-max(1024){
    margin-top: 45px;
    padding-left: 0;
  }
}

.search-tags__title {
  font-weight: 600;
  font-size: 1.29rem; //18px
  border-bottom: 2px solid #85585E;
  padding-bottom: 5px;
  position: relative;
  max-width: 200px;
  color: #85585E;

  &:before {
    content: '';
    display: block;
    width: 2px;
    height: 21px;
    position: absolute;
    left: 0;
    top: 100%;
    background-color: #85585E;
  }

  &:after {
    content: '';
    display: block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    position: absolute;
    right: -3px;
    bottom: -4px;
    background-color: #85585E;
  }
}

.search-tag__list {
  margin: 0 -10px -20px;
  padding: 11px;
  display: flex;
  flex-wrap: wrap;
}

.search-tag__item {
  padding: 0 10px;
  margin-bottom: 20px;
}

.search-tag__link {
  min-height: 40px;
  display: flex;
  align-items: center;
  padding: 5px 26px;
  color: #E39F29;
  font-size: 1.14rem; //16px
  font-weight: 400;
  border-radius: 8px;
  /*transform: perspective(1px) translate3d(0,0,0);*/

  @include on-event {
    /*background-color: rgba(#d8a244, 0.63);
    box-shadow: 1px 1px 1px rgba(255, 255, 255, 0.25);
    transform: translate(1px, 1px);*/
  }
}

/// CLOUDLY

.cloudly-tag__list{
  margin: 0;
  .cloudly-tags{
    a{
      display: inline-block;
      min-height: 10px;
      padding: 0px 15px;
      margin-bottom: 0px;
    }
  }
}