.search-submenu{
  padding-top: 18px;
  padding-bottom: 32px;

  &--desktop{
    display: flex;
  }
  &--mob{
    display: none;
  }

  @include respond-max(1024){
    &.hide-in-mob{
      display: none !important;
    }
  }
  @include respond-max(768){
    &--desktop{
      display: none;
    }
    &--mob{
      display: flex;
      flex-direction: column;
      margin-left: 20px;
      padding-bottom: 0;
    }
  }
}

.search-submenu__item{
  &:nth-of-type(2){
    margin: 0 55px;
  }
  h6{
    color: $goldColor;
    font-weight: 600;
    line-height: 1.43rem; //20px
  }
  p{
    font-size: 1.14rem; //16px
    margin-bottom: 0;
  }

  @include respond-max(1280){
    &:nth-of-type(2){
      margin: 0 20px;
    }
    p{
      font-size: 0.9rem;
    }
  }

  @include respond-max(768){
    margin-bottom: 10px;
    &:nth-of-type(2){
      margin: 0 0 10px;
    }
  }
}