.share{
  padding-top: 56px;
  padding-bottom: 15px;

  @include respond-max(1024){
    padding-top: 0px;
    padding-bottom: 0px;
  }
}

.share__inner{
  display: flex;
  justify-content: flex-end;
  align-items: center;

  @include respond-max(1024){
    justify-content: flex-start;
  }
}

.share-label{
  display: block;
  margin-right: 25px;
  //font-size: 1.43rem;
  font-size: 1.14rem;
  @include ieStyles{
    flex: 0 0 auto;
  }
 }

.share-list{
  line-height: 1;
  padding-right: 10px;
}

.share-list__item{
  margin: 0 10px;
  display: inline-block;
}

.share-list__link{
  display: block;
  height: 17px;
  svg{
    width: auto;
    height: 100%;
    fill: #676767;
    @include transition-03;
  }

  @include on-event{
    svg{
      fill: $goldColor;
    }
  }

  @include ieStyles{
    max-width: 20px;
  }
}