body.text-version{
  .event-listing__inner{
    background: none;
  }
  .search-block{
    background-color: transparent;
    border-color: $textColor;
    &:before{
      display: none;
    }
    h2{
      color: $textColor;
    }
  }

  .search__input{
    border: 1px solid $textColor;
  }

  .search__btn,.advanced-search__link{
    border: 1px solid $textColor;
    color: $textColor;
    background-color: #fff;
    box-shadow: none;
  }

  .advanced-search__link{
    border: 0;
    @include on-event{
      &:before, &:after{
        display: none;
      }
    }
  }

  .search-tags__title{
    color: $textColor;
    border-bottom: 2px solid $textColor;
    &:before, &:after{
      display: none;
    }
  }

  .search-tag__link{
    border: 1px solid $textColor;
    background-color: transparent !important;
    border-radius: 0;
    color: $textColor !important;
  }

  .search-results__category-item{
    background: none !important;
    border: 1px solid $textColor;
    color: $textColor;
  }

  .search-results__category-row:last-of-type {
    margin-top: 0;
  }

  .search-results__header-info{
    border-color: $textColor;
  }

  .search-results__list-item{
    border-color: $textColor;
    &:after{
      display: none;
    }
  }

  .search-results__list-img{
    height: 160px;
    width: 120px;
    border: 1px solid $textColor;
    @include respond-max(572){
      width: 100px;
      height: 100px;
    }
  }
}