body.text-version{
  .event-listing__inner{
    background: none;
  }
  .event-search{
    background-color: transparent;
    border-color: $textColor;
    &:before{
      display: none;
    }
    h2{
      color: $textColor;
    }
  }

  .event__input{
   border: 1px solid $textColor;
  }

  .event-search__btn,.advanced-search__link{
    border: 1px solid $textColor;
    color: $textColor;
    background-color: #fff;
    box-shadow: none;
  }

  .event-search__tags-title{
    color: $textColor;
    border-bottom: 2px solid $textColor;
    &:before, &:after{
      display: none;
    }
  }

  .event-search__tag-link{
    border: 1px solid $textColor;
    background-color: transparent !important;
    border-radius: 0;
    color: $textColor;
  }

  .event-results__category-item{
    background: none !important;
    border: 1px solid $textColor;
    color: $textColor;
  }

  .event-results__category-row:last-of-type {
    margin-top: 0;
  }

  .event-results__header-info{
    border-color: $textColor;
  }

  .event-results__list-item{
    border-color: $textColor;
    &:after{
      display: none;
    }
  }

  .event-results__list-img{
    height: 160px;
    width: 120px;
    border: 1px solid $textColor;
    @include respond-max(572){
      width: 100px;
      height: 100px;
    }
  }
}